<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/basics.css" type=text/css>
    <title>Wrong Answer</title>
  </head>
  <body
    class="register"
    style="background-color: rgb(17, 16, 16); "
  >
    <main>
      <center>
        <h3 style="color: #f7f7f7;"class="subtitle">Wrong Answer</h2>
      </center>
    </main>
  </body>
</html>
