<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/basics.css" type=text/css>
    <title>Ehunt</title>
  </head>
  <body class="home">
    <main>
      <center>
        <h1 class="heading">E-HUNT</h1>
        <!-- <hr width="40%" /> -->
        <h2 class="subtitle">STAY SAFE, STAY HOME</h2>
        <a href="/login/new">
          <input type="submit" class="start" value="Login" />
        </a>
        <a href="/register/new">
          <input type="submit" class="start" value="Register"
        /></a>
      </center>
    </main>
  </body>
</html>
