<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/basics.css" type=text/css>
    <title>Ehunt-Introduction</title>
  </head>
  <body class="instruction">
    <main>
      <center>
        <h1 class="heading secondary">Welcome</h1>
        <!-- <hr width="40%" /> -->
        <h2 class="subtitle nogap">
          <% if(existing){ %> Nice to see you again,
          <span class="name"> <%=user.name%></span>
        </h2>
        <form action="/<%=user.username%>/resume" method="POST">
          <input type="submit" class="start" value="RESUME" />
        </form>

        <%}else{ %>
        <P
          >This is an online treasure hunt. It is simple, you just need to
          answer the questions by Googling and searching through the
          internet.</P
        >
        <P
          >Note : Some question need extra exploration and creative thinking.</P
        >
        Are you ready to hunt ,<span class="name"> <%=user.name%> ?</span>
        <form action="/<%=user.username%>/start" method="POST">
          <input type="submit" class="start" value="START" />
        </form>
        <%}%>
      </center>
    </main>
  </body>
</html>
